/* COLORS */

$black: #0d0814;
$purpleDark: #462a3e;
$purpleLight: #8c4a58;
$orangeMid: #cc755e;
$orangeLight: #f4b15d;
$yellow: #f9f871;

html {
  height: 100%; //w html i body to samo, zeby nie bylo w wersji mobile pustego bialego miejsca, gdybym zostawil tylko w body to na np. laptopie bym nie mial bialego miejsca, a na telofonie byl mial
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
  /* background-color: $purpleDark; */
  background-image: linear-gradient(to right top, $purpleDark, $purpleLight);
  border: 1px solid transparent;
}

.App {
  text-align: center;
  padding-top: 30px;
  color: white;
  font-family: 'Kalam', cursive;
  display: grid; // wyrowna prawidlowo searchPanel i Drink: ....
  justify-content: center; //a nastepnie wyrowna prawidlowo zawartosc
}