/* COLORS */

$black: #0d0814;
$purpleDark: #462a3e;
$purpleLight: #8c4a58;
$orangeMid: #cc755e;
$orangeLight: #f4b15d;
$yellow: #f9f871;

/* Welcome Site Drink Photo */

.introPhoto {
    width: 50%;
    margin: 0 auto;
}

.drinkArt {
    width: calc(15% + 100px);
}

ul {
    padding: 0;
}

/* ================================= 
                HEADER
====================================*/
#mainHeader {
    padding: 15px 0;
    font-family: 'Goudy Bookletter 1911', serif;
}

.mainHeaderHeading {
    font-size: calc(20px + .96vw);
}

.mainHeaderHeading::first-letter {
    color: $orangeLight;
}


/* ================================= 
        Main Section Container
====================================*/
#mainSectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'mainSectionInformations''mainSectionIngredients';
}


/* ================================= 
        Ingredients Section
====================================*/

#mainSectionIngredients {
    grid-area: mainSectionIngredients;
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    margin: 16px 5px;
}


.ingredientList,
.amountOfIngredientList {
    list-style: none;
    text-align: left;
    padding: 20px;
    margin: 0;
    background-color: $black;
}

.ingredientList {
    border: 2px solid $orangeLight;
    border-left: 0;
    border-left: 1px dotted white;
}

.amountOfIngredientList {
    border: 2px solid $orangeLight;
    border-right: 0;
}

.ingredientListHeading,
.amountOfIngredientListHeading {
    //32px standard
    font-size: calc(20px + .76vw);
}

.amountOfIngredientListHeading {
    white-space: nowrap;
}

.ingredientListItem,
.amountOfIngredientListItem {
    font-size: calc(10px + .40vw);
    padding-bottom: 2rem;
}


/* ================================= 
        Ingredients Section
          Vocabulary Menu
====================================*/

.vocabularyMenu {
    display: none; //dla smartfonow nie ma
    background-color: $black;
    border: 2px solid $orangeLight;
}

.vocabularyMenu label {
    display: flex;
    cursor: pointer;
    transition: 1s;
    border-top: 1px solid $orangeLight;
}

.vocabularyMenu label:hover {
    background-color: $purpleLight;
}

.vocabularyMenu input:checked~label:hover {
    background-color: $purpleDark;
}

.vocabularySpan {
    writing-mode: vertical-rl;
    text-orientation: upright;
    align-self: center;
    width: 25px; //bo w mozilli sie nie wyswietli jak tego nie dodam, musi jakas szerokosc byc podana
    margin-right: 5px; //wycentrowanie
}

.closeVocabularySpan {
    align-self: center;
    padding: 0 5px;
}

.vocabularyMenu input {
    display: none;
}

.vocabularyMenu input:checked~label span:last-child {
    display: none; //nie wyswietli za strzalka Vocabulary
}

.vocabularyMenu input:not(:checked)~label span:first-child {
    display: none; //a to spowoduje, ze nie bedzie strzalki przed Vocabulary, jak jeszcze nie nacisne tego menu
}

.vocabularyItemsList {
    overflow: hidden; //zapobiega zjawisku wystawania zawartości poza element
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    /* transition: width 0.5s, height 0.5s; */
    //https://codepen.io/briangelhaus/pen/rApot
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    list-style: none;
    font-size: 0; //jak zwijac bede to niech rozmiar czcionki bedzie 0, dzieki temu nie rozciagnie sie w dol niepotrzebnie
}

.vocabularyItemsListHeading {
    padding-top: 30px;
    padding-bottom: 4px;
}

.vocabularyMenu input:checked~ul {
    width: 12.5rem; //200px
    height: 100%; //ewentualnie zadziala jesli ustawie height na twardo np: 457px
    border-right: 2px solid $orangeLight;
    //font-size: 16px; //a jak bedzie rozwiniete to niech czcionka bedzie 16px;
    font-size: calc(10px + 0.35vw);
}

.vocabularyMenu input:checked~label {
    background-color: $purpleLight;
}

/* ================================= 
        Vocabulary Lite Version
====================================*/

.vocabularyLite {
    font-size: calc(10px + 0.35vw);
    display: flex;
    justify-content: center;
    //margin: 0px 15px 15px;
    // margin: 0;
}

.vocabularyLite h1 {
    margin: 0;
}

.vocabularyItemsListLite {
    padding: 20px calc(90px + 1.5vw);
    margin-top: 0;
    list-style: none;
    border: 2px solid $orangeLight;
    background-color: $black;
}

/* ================================= 
        Informations Section
====================================*/

#mainSectionInformations {
    grid-area: mainSectionInformations;
    align-self: center;
    /*     margin: 16px 5px;
    padding: 20px; */
    padding: 5px 20px;
    position: relative;
}

/* stworzenie bordera poziomego */
#mainSectionInformations::before {
    content: '';
    background-color: $orangeLight;
    position: absolute;
    /* display: block; */
    height: 2px;
    left: 50%;
    width: 95%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.instructionsHeading {
    text-decoration: underline;
    text-decoration-color: $orangeLight;
    font-size: calc(20px + .96vw);
}

.instructionsHeading::first-letter {
    color: $orangeLight;
}

#mainSectionInformations h2 {
    color: $orangeLight;
}

/* .glassToServeContainer h2,
.glassToServeContainer span,
.howToDoContainer h2,
.howToDoContainer span {
    display: inline;
    font-size: 18px;
}

.glassToServeContainer h2,
.howToDoContainer h2 {
    font-size: 20px;
} */

.glassToServeContainer h2,
.howToDoContainer h2 {
    display: inline;
    //font-size: 20px;
    //font-size: calc(10px + .8vw);
    font-size: calc(10px + .62vw);
}

.glassToServeContainer span,
.howToDoContainer span {
    //display: inline;
    //font-size: 18px;
    font-size: calc(10px + .62vw);
}

.glassToServeHeading::before,
.howToDoHeading::before {
    font-family: "Font Awesome 5 Free";
    //font-size: 1rem;
    font-size: calc(10px + .57vw);
    color: white;
    position: relative;
}

.glassToServeHeading::before {
    content: '\f57b';
    right: 2%;
    bottom: 2px;
}

.howToDoHeading::before {
    content: '\f059';
    right: 2%;
    bottom: 1px;
}

.howToDoContainer {
    padding: 0 30px;
    padding-bottom: 10px;
}

.drinkPhoto {
    width: 30%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 5%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
}

/* .drinkPhoto:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-box-shadow: 0 0 10px $purpleDark;
    box-shadow: 0 0 10px $purpleDark;
} */


/*=============================
          Media Queries 
 ============================*/
@media only screen and (min-width : 768px) {
    .vocabularyMenu {
        display: flex;
    }

    .vocabularyLite {
        display: none;
    }
}

@media only screen and (min-width : 1224px) {
    #mainSectionContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'mainSectionIngredients mainSectionInformations';
    }

    //stworzenie bordera pionowego
    #mainSectionInformations::after {
        content: "";
        background-color: $orangeLight;
        position: absolute;
        top: 0;
        left: 0;
        height: 95%;
        width: 2px;
    }

    #mainSectionInformations {
        grid-area: mainSectionInformations;
        align-self: center;
        margin: 16px 5px;
        padding: 20px 50px;
        position: relative;
    }

    /*     .glassToServeContainer h2,
    .howToDoContainer h2 {
        display: inline;
        font-size: 20px;
    }

    .glassToServeContainer span,
    .howToDoContainer span {
        //display: inline;
        font-size: 18px;
    } */


    .drinkPhoto {
        width: 30%;
    }

    .drinkPhoto:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        -webkit-box-shadow: 0 0 10px $purpleDark;
        box-shadow: 0 0 10px $purpleDark;
    }

    .drinkArt {
        width: 200px;
    }

}